@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans";
  animation: fadeInAnimation cubic-bezier(0.16, 1, 0.3, 1) 1s;

}
body {
  background-color: #4c594f;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
html {
  height: 100%;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    left: -1rem;
  }
  100% {
    left: 0rem;
  }
}
@keyframes nav-bar-animation-mobile {
  0% {
    opacity: 0;
    top: 100vh;
  }
  100% {
    opacity: 1;
    top: 75vh;
  }
}
.navBar {
  animation: fadeInAnimation cubic-bezier(0.16, 1, 0.3, 1) 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.personal-card {
  animation: fadeInAnimation cubic-bezier(0.16, 1, 0.3, 1) 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.about-card {
  animation: fadeInAnimation cubic-bezier(0.16, 1, 0.3, 1) 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.examples-card {
  animation: fadeInAnimation cubic-bezier(0.16, 1, 0.3, 1) 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.example-card-wrapper{
  align-items: center;
 }
.page-wrapper{
  position:relative;
  width: 90vw;
  right: -10vw;
}

@media screen and (aspect-ratio < 1/1) {

  *{
    animation: fadeInAnimation cubic-bezier(0.16, 1, 0.3, 1) 2s;
    user-select: none;
  }
  .navBar {
    animation: nav-bar-animation-mobile cubic-bezier(0.16, 1, 0.3, 1) 1s;
    @apply fixed flex flex-row items-center transition-all top-[75vh] rounded-t-3xl h-[20vh] w-screen justify-evenly;
  }
  .page-wrapper{
    display:flex;
    position:relative;
    justify-content: center;
    width: 100vw;
    top:0vw;
    bottom:0vw;
    left:0vw;
    right:0vw;
  }
  .example-card-wrapper{
    display:flex;
    flex-direction: column;
    height: 62vh;
    width: 100vw;
    flex-wrap: nowrap;
  }
  .sidebar-icon {
    position: relative;
    min-width: max-content;
    align-items: center;
    height: 70%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .clicked:hover{
    background-color: rgb(35 38 37);
    
  }
  .my-name-cyan {
    position:relative;
    color: rgba(0,255,255,75%);
    left:-140px;
    top:3px;
    mix-blend-mode: screen;
    font-size: 3rem;
    font-weight: 700;
  }
  .my-name-red {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    color:rgba(255,0,0,75%);
    mix-blend-mode: screen;
  }
  .sidebar-tooltip {
    display: none;
  }

}
@layer components {
  .navBar {
    @apply fixed top-0 left-0 h-screen w-[10%] m-0 flex flex-col justify-evenly bg-forest-500
    text-white rounded-r-3xl shadow-md;
  }
  .sidebar-icon {
    @apply relative flex flex-grow items-center justify-center rounded-[12rem] h-[15%]
        my-[5%] mx-[5%] shadow-lg bg-forest-400
        text-forest-100 transition-all ease-out hover:bg-forest-300  hover:rounded-3xl
        hover:cursor-pointer;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 rounded-md -m-12 min-w-max left-20 shadow-lg
     transition-all ease-out duration-500 bg-forest-500 opacity-0 select-none cursor-default scale-0 z-10;
  }
}
